<div class="jumbotron text-center bg-light">
    <div class="display-3">{{title}}</div>
    <p class="lead">Jot down ideas for your next YouTube videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>