<h1>Ideas</h1>
{{#each ideas}}
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{details}}</p>
        </div>
    </div>
{{else}}
<p>No video ideas listed</p>
{{/each}}